.card-img-border {
    /*border-top-left-radius: 13px;*/
    /*border-top-right-radius: 13px;*/

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-width: 2px;
    border-color: whitesmoke;
    border-bottom: 2px solid lightgray;
    min-height: 170px;
    max-height: 170px;
    object-fit: cover;
    /*box-shadow: 0 5px 10px rgba(0,0,0,.20);*/
    /*box-shadow: 0px 0px 8px 2px #000000;*/
}

/*.bottom-border-secondary {*/
/*    border-bottom: 2px solid darkgray;*/
/*}*/

.card {
    border-radius: 0px;
    border-width: 0px;
    border-color: lightgray;
    background-color: whitesmoke;
    white-space: nowrap;
}

.link-no-format:hover, .link-no-format:focus, .link-no-format {
    color: inherit;
    text-decoration: none;
}

.spacer {
    height: 50px;
    background-color: red;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid green;
}

.list-group-item {
    border-width: 2px;
    background-color: whitesmoke;
}

.list-group-item:hover {
    /*transition: 0.2s;*/
    border: 2px dotted;
    border-top: none;
    background-color: darkgray;
}

.nav-spacing {
    position: relative;
    top: 50px;
}

.navbar-background {
    background-color: var(--navbar-color);
    border-color: var(--navbar-color-dark);
    border-style: solid;
    border-width: 0 0 4px 0;
}

.remove-padding {
    padding: 0 !important;
}

.nav-item {
    height: 54px;
    padding: 0 1rem 5% 1rem;
    transition: 0.2s;
    font-weight: bold;
    border-width: 0 0 4px 0;
    border-color: transparent;
    border-style: solid;
    z-index: 1;
}

.nav-item:hover {
    background-color: var(--navbar-color-dark);
    border-color: var(--navbar-color-dark);
    color: var(--navbar-color);
}

.nav-item.active {
    /*height: 52px;*/
    /*border-width: 0 0 2px 0;*/
    background-color: var(--navbar-color-dark);
    border-color: var(--navbar-color);
    color: var(--navbar-color);
}

html, body {
    height:100%;
}